<template>
  <div id="app">
    <NavBar />
    <SideBar activePage="Book_Management"/>
    <div class="container-fluid px-0">

    <div class="items">

        <div class="row">

            <div class="col-md-12">
            <div class="card mb-3 card-table">
                <p class="graph-title">List of Books</p>
                <div class="card-body">
                    <div class="row card-controls">
                        <button class="add-button-main" @click="$bvModal.show('addBookModal')"><i class="fa fa-plus"></i> Add Book</button>
                        <p class="search-label">Search: </p>
                        <div class="rounded-textbox">
                            <input type="text" name="search" class="search-bar">
                        </div>
                    </div>
                    <table class="table table-striped table-bordered my-table">
                        <thead class="my-table-header" align="center">
                            <tr>
                            <th>Actions</th>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Copies Available</th>
                            <th>Category</th>
                            </tr>
                        </thead>
                        <tbody class="my-table-body">
                          <template v-if="!books.length">
                            <tr>
                              <td colspan="4" class="text-center">No data available</td>
                            </tr>
                          </template>
                          <template v-else>
                            <tr v-for="book in books" :key="book.id">
                            <td align="center">
                             <a href="#" class="button-settings" data-toggle="dropdown"><i class="fa fa-cog"></i>
                               <b-dropdown class="my-dropdown2" variant="transparent" boundary="viewport">
                                    <b-dropdown-item @click="showEditBookModal(book.id)">Edit</b-dropdown-item>
                                    <b-dropdown-divider></b-dropdown-divider>
                                    <b-dropdown-item @click="showBorrowBookModal(book.id)">Borrow</b-dropdown-item>
                                    <b-dropdown-divider></b-dropdown-divider>
                                    <b-dropdown-item @click="showReturnBookModal(book.id)">Return</b-dropdown-item>
                                </b-dropdown>
                             </a>
                             <a href="#" class="button-delete" @click="showDeleteBookModal(book.id)"><i class="fa fa-trash-o"></i></a>
                            </td>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.copies }}</td>
                            <td v-for="category in book.categories" :key="category.id">{{ category.category }}</td>
                            </tr>
                          </template>
                        </tbody>
                    </table>

                    <div class="last-update"> <i class="fa fa-clock-o graph-icon"></i> Last updated: <span id="date">{{datestamp}}</span></div>

                </div>
            </div>
            </div>

        </div>

    </div>

    </div>

    <b-modal id="addBookModal" class="modal-body" title="Add Book" hide-footer>
      <div class="row form">
        <p class="form-name" id="labelName">Name </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="name" id="name" class="text-bar" v-model="add.name" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelAuthor">Author </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="author" id="author" class="text-bar" v-model="add.author" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelCopies">Copies </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="copies" id="copies" class="text-bar" v-model="add.copies" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelCategory">Category </p>
        <div class="rounded-textbox-modal">
          <select name="category" class="text-bar" id="category" v-model="add.category_id">
            <option value="none" type="placeholder" disabled="true">-- Select Category --</option>
            <option v-for="category in categories" :value="category.id" :key="category.id" >{{category.category}}</option>
          </select>
        </div>
      </div>
       <div class="row form">
        <button class="button-modal1" @click="addBook(add)">Add Book</button>
        <button class="button-modal2" @click="$bvModal.hide('addBookModal')">Cancel</button>
      </div>
    </b-modal>

    <b-modal id="editBookModal" class="modal-body" title="Edit Book" v-bind:key="book.id" hide-footer>
      <div class="row form">
        <p class="form-name" id="labelName">Name </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="name" id="name" class="text-bar" v-model="edit.name" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelAuthor">Author </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="author" id="author" class="text-bar" v-model="edit.author" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelCopies">Copies </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="copies" id="copies" class="text-bar" v-model="edit.copies" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelCategory">Category </p>
         <div class="rounded-textbox-modal">
            <select name="category" class="text-bar" id="category" v-model="edit.category_id">
              <option value="none" type="placeholder">-- Select Category --</option>
              <option v-for="category in categories" :key="category.id" :value="category.id" :selected="book.category_id == edit.category_id">{{category.category}}</option>
            </select>
        </div>
      </div>
      <div class="row form">
        <button class="button-modal1" @click="editBook(edit, editIndex)">Edit Book</button>
        <button class="button-modal2" @click="$bvModal.hide('editBookModal')">Cancel</button>
      </div>
    </b-modal>

    <b-modal id="deleteBookModal" class="modal-body" title="Confirm Deletion?" hide-footer>
      <div class="row form">
        <p class="form-name">Are you sure you want to delete this data?</p>
      </div>

      <div class="row form">
        <button class="button-modal1" @click="deleteBook(deleteIndex)">Delete Book</button>
        <button class="button-modal2" @click="$bvModal.hide('deleteBookModal')">Cancel</button>
      </div>
    </b-modal>

    <b-modal id="borrowBookModal" class="modal-body" title="Borrow Book" hide-footer>
      <div class="row form">
        <p class="form-name" id="labelBorrowedBooks">Borrower Name </p>
        <div class="rounded-textbox-modal">
          <select name="category" class="text-bar" id="patron" v-model="borrowed.patron_id">
            <option value="none" type="placeholder" disabled="true">-- List of Registered Patrons --</option>
            <option v-for="patron in patrons" :value="patron.id" :key="patron.id" >{{patron.last_name + ', ' + patron.first_name + ' ' + patron.middle_name}}</option>
          </select>
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelCopies">Copies </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="copies" id="copies" class="text-bar" v-model="borrowed.copies" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <button class="button-modal1" @click="borrowBook(borrowed, borrowed.book_id)">Borrow Book</button>
        <button class="button-modal2" @click="$bvModal.hide('borrowBookModal')">Cancel</button>
      </div>
    </b-modal>

    <b-modal id="returnBookModal" class="modal-body" title="Return Book" hide-footer>
      <div class="row form">
        <p class="form-name" id="labelBorrowedBooks">Returner Name </p>
        <div class="rounded-textbox-modal">
          <select name="category" class="text-bar" id="patron" v-model="returned.patron_id">
            <option value="none" type="placeholder" disabled="true">-- List of Registered Patrons --</option>
            <option v-for="patron in patrons" :value="patron.id" :key="patron.id" >{{patron.last_name + ', ' + patron.first_name + ' ' + patron.middle_name}}</option>
          </select>
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelCopies">Copies </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="copies" id="copies" class="text-bar" v-model="returned.copies" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <button class="button-modal1" @click="returnBook(returned, returned.book_id)">Return Book</button>
        <button class="button-modal2" @click="$bvModal.hide('returnBookModal')">Cancel</button>
      </div>
    </b-modal>

  </div>
</template>

<script>

import NavBar from '@/components/navigation/NavBar.vue';
import SideBar from '@/components/navigation/SideBar.vue';
import {toast} from '@/assets/js/toastification/toast'
import {mapGetters} from 'vuex';

export default {
  name: 'Book_Management',
  components: { NavBar, SideBar },
  mixins: [toast],

  data(){

    return{
        add: {
          name: '',
          author: '',
          copies: '',
          category_id: ''
        },

        edit: {},
        editIndex: '',

        deleteIndex: '',

        borrowed:{
          patron_id: '',
          copies: '',
          book_id: ''
        },

        returned:{
          patron_id: '',
          copies: '',
          book_id: ''
        },

        datestamp: ""

    }

  },

  computed: {
    ...mapGetters({
      books: 'books/allBooks',
      book: 'books/showBook',
      categories: 'categories/allCategories',
      patrons: 'patrons/allPatrons'
    })
  },

  methods: {

    // Renders date for 'Last updated:' element

    getNow: function() {

    const today = new Date();
    const date = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
    this.datestamp = date;

    },

    /**
      * Calls editBookModal to pass the id of the book to be edited
      * and renders the book data on form fields
    */

    showEditBookModal(id){
  
      this.editIndex = id;
      this.$store.dispatch('books/showBook', id);
      this.edit = { ...this.book };
      this.$bvModal.show('editBookModal');

    },

    // Calls editBookModal to pass the id of the book to be deleted

    showDeleteBookModal(id){

      this.deleteIndex = id;
      this.$bvModal.show('deleteBookModal');

    },

    // Calls borrowedBookModal to pass the id of the book to be borrowed

    showBorrowBookModal(id){

      this.borrowed.book_id = id;
      this.$bvModal.show('borrowBookModal');

    },

    // Calls returnedBookModal to pass the id of the book to be returned

    showReturnBookModal(id){

      this.returned.book_id = id;
      this.$bvModal.show('returnBookModal');

    },

    // Vuex actions for Book Management Page which returns a promise for response handling

    async addBook(add){

      if(this.validateForm() == true){
        this.$store.dispatch('books/addBook', add)
          .then((response) => {
            if(response.status == 201){
              this.$bvModal.hide('addBookModal');
              this.clear();
              this.showSuccessToast('Book added successfully!');
              this.$store.dispatch('books/fetchBooks', null, {root:true});
            }
          })   
         .catch((error) => {
            //displays a toast if errors are still present
            this.showErrorToast('[Error]: ' + error); 
         });
      }

    },

    async editBook(edit, editIndex){

      if(this.validateForm() == true){
        this.$store.dispatch('books/updateBook', {edit, id: editIndex})
        .then((response) => {
          if(response.status == 201){
            this.$bvModal.hide('editBookModal');
            this.showSuccessToast('Book updated successfully!');
            this.$store.dispatch('books/fetchBooks', null, {root:true});
          }else{
            this.showErrorToast('Failed updating book! ' + response);
          }
        })
        .catch((error) => {
          //displays a toast if errors are still present
          this.showErrorToast('[Error]: ' + error); 
        });

      }

    },

    async deleteBook(deleteIndex){

      this.$store.dispatch('books/deleteBook', deleteIndex)
      .then((response) => {
        if(response.status == 200){
          this.$bvModal.hide('deletePatronModal');
          this.showSuccessToast('Book deleted successfully!');
          this.$store.dispatch('books/fetchBooks', null, {root:true});
        }else{
          this.showErrorToast('Failed deleting book! ' + response);
        }
      })
      .catch((error) => {
        //displays a toast if errors are still present
        this.showErrorToast('[Error]: ' + error); 
      });

      
    },

    async borrowBook(borrowed, id){

      if(this.validateBorrowReturn() == true){
        this.$store.dispatch('books/borrowBook', {borrowed, id: id})
        .then((response) => {
          if(response.status == 201){
            this.$bvModal.hide('borrowBookModal');
            this.clearBorrowFields();
            this.showSuccessToast('Book borrowed successfully!');
            this.$store.dispatch('books/fetchBooks', null, {root:true});
          }
        })
        .catch((error) => {
          //displays a toast if errors are still present
          this.showErrorToast('[Error]: ' + error); 
        });

      }

    },

    async returnBook(returned, id){

      if(this.validateBorrowReturn() == true){
        this.$store.dispatch('books/returnBook', {returned, id: id})
        .then((response) => {
          if(response.status == 201){
            this.$bvModal.hide('returnBookModal');
            this.clearReturnFields();
            this.showSuccessToast('Book returned successfully!');
            this.$store.dispatch('books/fetchBooks', null, {root:true});
          }else{
            this.showErrorToast('Failed to return a book! ' + response);
          }
        })
        .catch((error) => {
          //displays a toast if errors are still present
          this.showErrorToast('[Error]: ' + error); 
        });

      }

    },

    // Clears all modal fields 

    clear: function(){

      this.add.name = '';
      this.add.author = '';
      this.add.copies = '';
      this.add.category_id = '';

    },

    clearBorrowFields: function(){

      this.borrowed.copies = '';

    },

    clearReturnFields: function(){

      this.returned.copies = '';

    },

    //validate form fields

    validateForm(){

      //checks for numeric input
      
      var checkForNum = /(^([a-zA-Z ]+$))/; 

      //checks for non-numeric input

      var checkIfNum = /(^[0-9])/;

      //checks if field is empty but will allow numeric input

      if(!document.getElementById("name").value.length){
        this.showWarningToast('[Warning]: You cannot leave book name field blank');
      }

      //checks if field is empty

      if(!document.getElementById("category").value.length){
        this.showWarningToast('[Warning]: A book should have category');
      }

      //checks if fields are empty, if not then validates if inputs are correct

      if(document.getElementById("author").value.length){
        if(!document.getElementById("author").value.match(checkForNum)){
          this.showWarningToast('[Warning]: Numeric input is not allowed for author name field' );
        }
      }else{
        this.showWarningToast('[Warning]: You cannot leave author name field blank' );
      }

      if(document.getElementById("copies").value.length){
        if(!document.getElementById("copies").value.match(checkIfNum)){
          this.showWarningToast('[Warning]: Non-numeric input is not allowed for copies field' );
        }
      }else{
        this.showWarningToast('[Warning]: You cannot leave copies field blank' );
      }

      return true

    },

    //validate forms for borrow and return

    validateBorrowReturn(){

      //checks for non-numeric input

      var checkIfNum = /(^[0-9])/;

      //checks if field is empty

      if(!document.getElementById("patron").value.length){
        this.showWarningToast('[Warning]: A patron should be selected');
      }

      //checks if fields are empty, if not then validates if inputs are correct

      if(document.getElementById("copies").value.length){
        if(!document.getElementById("copies").value.match(checkIfNum)){
          this.showWarningToast('[Warning]: Non-numeric input is not allowed for copies field' );
        }
      }else{
        this.showWarningToast('[Warning]: You cannot leave copies field blank' );
      }

      return true;

    }

  },

  created(){

    setInterval(this.getNow, 100);

  },

  mounted(){

    document.title = "Book Management";

    this.$store.dispatch('books/fetchBooks', null, {root:true});
    this.$store.dispatch('categories/fetchCategories', null, {root:true});
    this.$store.dispatch('patrons/fetchPatrons', null, {root:true});

  }

}

</script>

<style>

  @import "/assets/css/style.css";

</style>