<template>
  <div id="app">
    <NavBar />
    <SideBar activePage="Dashboard"/>
    <div class="container-fluid px-0">

    <div class="items">

      <div class="row">

        <div class="col-md-6">
        <div class="card mb-3 card-graph">
           <p class="graph-title">Borrowed and Returned Books</p>
           <div class="card-body">
            <div class="chart-container">
              <canvas id="chart1" width="100%" height="250px"></canvas>
            </div>
              <div class="nav-item card-divider"></div>
              <div class="last-update"> <i class="fa fa-clock-o graph-icon"></i> Last updated: <span id="date1">{{datestamp}}</span></div>
           </div>
        </div>
        </div>

        <div class="col-md-6">
        <div class="card mb-3 card-graph">
            <p class="graph-title">Popular Book Genre</p>
            <div class="card-body">
             <div class="chart-container">
              <canvas id="chart2" width="100%" height="250px"></canvas>
             </div>
              <div class="nav-item card-divider"></div>
              <div class="last-update"> <i class="fa fa-clock-o graph-icon"></i> Last updated: <span id="date2">{{datestamp}}</span></div>
            </div>
        </div>
        </div>

      </div>

	</div>

    </div>

  </div>
</template>

<script>

import NavBar from '@/components/navigation/NavBar.vue';
import SideBar from '@/components/navigation/SideBar.vue';
import Chart from 'chart.js';

export default {
  name: 'Dashboard',
  components: { NavBar, SideBar },

  data: function() {

    return {

        datestamp: ""

    }

  },

  created(){

    setInterval(this.getNow, 100);

  },

  methods: {

    getNow: function() {

    const today = new Date();
    const date = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
    this.datestamp = date;

    }

  },

  mounted() {

    document.title = "Dashboard"
    var target = document.getElementById("chart1");
    new Chart(target, {

        type: 'bar',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
                datasets: [
                    { 

                      label: 'Borrowed',
                      data: [150, 130, 70, 500, 350, 400, 360],
                      backgroundColor: "rgb(233,31,79)",

                    },
                    { 

                      label: 'Returned',
                      data: [120, 90, 80, 300, 350, 400, 350],
                      backgroundColor: "rgb(239,107,33)",

                    }

                ]

            },

            options: {
                scales: {

                    xAxes: [{

                        barPercentage: 0.7,
            
                        gridLines: {

                            display: false
                        },

                        ticks: {

                            fontSize: 10
                        }

                    }],
                    yAxes: [{
                        ticks: {

                            suggestedMin: 0,
                            suggestedMax: 600,
                            fontSize: 10
                        }

                        
                    }]

                },

                legend: {

                    position: "bottom",

                    labels: {

                        boxWidth: 10,
                        fontSize: 10

                    }

                },

                responsive: true,
                maintainAspectRatio: false


            }

    });

    target = document.getElementById("chart2");
    new Chart(target, {

        type: 'doughnut',
            data: {
                labels: ["Romance", "Horror", "Fantasy", "Fiction", "Sci-Fi"],
                datasets: [
                    { 

                      data: [45, 30, 3, 12, 10],
                      backgroundColor: [

                        "rgb(233,31,79)",
                        "rgb(239,107,33)",
                        "rgb(21,117,233)",
                        "rgb(8,188,145)",
                        "rgb(255,192,0)"

                      ]

                    },

                ]

            },

            options: {

                cutoutPercentage: 60,

                scales: {

                    xAxes: [{

                        barPercentage: 0.7,
            
                        gridLines: {

                            drawBorder: false,
                            display: false
                        },

                        ticks: {

                            display: false
                            
                        }

                    }],
                    yAxes: [{

                        gridLines: {

                            drawBorder: false,
                            display: false
                        },

                        ticks: {

                            display: false
                        }

                        
                    }]

                },

                legend: {

                    position: "bottom",

                    labels: {

                        boxWidth: 10,
                        fontSize: 10

                    }

                },

                responsive: true,
                maintainAspectRatio: false

            }

    });

  }
  
}

</script>

<style>

  @import "/assets/css/style.css";

</style>


