<template>
  <div id="app">
    <NavBar />
    <SideBar activePage="Patron_Management"/>
    <div class="container-fluid px-0">

    <div class="items">

        <div class="row">

            <div class="col-md-12">
            <div class="card mb-3 card-table">
                <p class="graph-title">List of Registered Patrons</p>
                <div class="card-body">
                    <div class="row card-controls">
                        <button class="add-button-main" @click="$bvModal.show('addPatronModal')"><i class="fa fa-plus"></i> Add Patron</button>
                        <p class="search-label">Search: </p>
                        <div class="rounded-textbox">
                            <input type="text" name="search" class="search-bar">
                        </div>
                    </div>
                    <table class="table table-striped table-bordered my-table">
                        <thead class="my-table-header" align="center">
                            <tr>
                            <th>Actions</th>
                            <th>Name</th>
                            <th>E-mail Address</th>
                            <th>Date Registered</th>
                            </tr>
                        </thead>
                        <tbody class="my-table-body">
                          <template v-if="!patrons.length">
                            <tr>
                              <td colspan="4" class="text-center">No data available</td>
                            </tr>
                          </template>
                          <template v-else>
                            <tr v-for="patron in patrons" :key="patron.id">
                            <td align="center">
                             <a href="#" class="button-edit" @click="showEditPatronModal(patron.id)"><i class="fa fa-refresh"></i></a>
                             <a href="#" class="button-delete" @click="showDeletePatronModal(patron.id)"><i class="fa fa-trash-o"></i></a>
                            </td>
                            <td>{{ patron.last_name + ', ' + patron.first_name + ' ' + patron.middle_name }}</td> 
                            <td>{{ patron.email }}</td>
                            <td>{{ formatDate(patron.created_at) }}</td>
                            </tr>
                          </template>
                        </tbody>
                    </table>

                    <div class="last-update"> <i class="fa fa-clock-o graph-icon"></i> Last updated: <span id="date">{{datestamp}}</span></div>

                </div>
            </div>
            </div>

        </div>

    </div>

    </div>

    <b-modal id="addPatronModal" class="modal-body" title="Add Patron" hide-footer>
      <div class="row form">
        <p class="form-name" id="labelFname">First Name </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="fname" id="fname" class="text-bar" v-model="add.first_name" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelMname">Middle Name </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="mname" id="mname" class="text-bar" v-model="add.middle_name" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelLname">Last Name </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="lname" id="lname" class="text-bar" v-model="add.last_name" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelEmail">Email Address </p>
         <div class="rounded-textbox-modal">
          <input type="text" name="email" id="email" class="text-bar" v-model="add.email" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <button class="button-modal1" @click="addPatron(add)">Add Patron</button>
        <button class="button-modal2" @click="$bvModal.hide('addPatronModal')">Cancel</button>
      </div>

    </b-modal>

    <b-modal id="editPatronModal" class="modal-body" title="Edit Patron" v-bind:key="patron.id" hide-footer>
      <div class="row form">
        <p class="form-name" id="labelFname">First Name </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="fname" id="fname" class="text-bar" v-model="edit.first_name" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelMname">Middle Name </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="mname" id="mname" class="text-bar" v-model="edit.middle_name" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelLname">Last Name </p>
        <div class="rounded-textbox-modal">
          <input type="text" name="lname" id="lname" class="text-bar" v-model="edit.last_name" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <p class="form-name" id="labelEmail">Email Address </p>
         <div class="rounded-textbox-modal">
          <input type="text" name="email" id="email" class="text-bar" v-model="edit.email" autocomplete="off">
        </div>
      </div>
      <div class="row form">
        <button class="button-modal1" @click="editPatron(edit, editIndex)">Edit Patron</button>
        <button class="button-modal2" @click="$bvModal.hide('editPatronModal')">Cancel</button>
      </div>
    </b-modal>

    <b-modal id="deletePatronModal" class="modal-body" title="Confirm Deletion?" hide-footer>
      
      <div class="row form">
        <p class="form-name">Are you sure you want to delete this data?</p>
      </div>

      <div class="row form">
        <button class="button-modal1" @click="deletePatron(deleteIndex)">Delete Patron</button>
        <button class="button-modal2" @click="$bvModal.hide('deletePatronModal')">Cancel</button>
      </div>
     
    </b-modal>

  </div>
</template>

<script>

import NavBar from '@/components/navigation/NavBar.vue';
import SideBar from '@/components/navigation/SideBar.vue';
import {toast} from '@/assets/js/toastification/toast';
import {mapGetters} from 'vuex';

export default {
  name: 'Patron_Management',
  components: { NavBar, SideBar },
  mixins: [toast],

  data(){
    return{
        add:{
          last_name: '',
          first_name: '',
          middle_name: '',
          email: ''

        },

        edit:{
          last_name: '',
          first_name: '',
          middle_name: '',
          email: ''
        },
        editIndex: '',
        deleteIndex: '',
        datestamp: ''

    }

  },

  computed: {
    ...mapGetters({
      patrons: 'patrons/allPatrons',
      patron: 'patrons/showPatron'
    })

  },

  methods: {

    // Renders date for 'Last updated:' element

    getNow: function() {

      const today = new Date();
      const date = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
      this.datestamp = date;

    },

    // Formats date from ISO8601 format to UTC format

    formatDate(dateString){

      let date = new Date(dateString);
      let formattedDate = (date.getUTCMonth() + 1) + '/' + date.getUTCDate() + '/' + date.getUTCFullYear()
      return formattedDate

    },

    /**
      * Calls editPatronModal to pass the id of the patron to be edited
      * and renders the patron data on form fields
    */

    showEditPatronModal(id){
  
      this.editIndex = id;
      this.$store.dispatch('patrons/showPatron', id);
      this.edit = { ...this.patron }
      this.$bvModal.show('editPatronModal');

    },

    // Calls editPatronModal to pass the id of the patron to be deleted

    showDeletePatronModal(id){

      this.deleteIndex = id;
      this.$bvModal.show('deletePatronModal');

    },

    // Vuex actions for Patron Management Page which returns a promise for response handling

    async addPatron(add){

      //calls validate form function

      if(this.validateForm() == true){
        this.$store.dispatch('patrons/addPatron', add)
         .then((response) => {
           if(response.status == 201){
             this.$bvModal.hide('addPatronModal');
             this.clear();
             this.showSuccessToast('[Success]: Patron added successfully!');
             this.$store.dispatch('patrons/fetchPatrons', null, {root:true});
           }
         })
         .catch((error) => {
            //displays a toast if errors are still present
            this.showErrorToast('[Error]: ' + error); 
         });
      }

    },

    async editPatron(edit, editIndex){ 

      //calls validate form function

      if(this.validateForm() == true){
        this.$store.dispatch('patrons/updatePatron', {edit, id: editIndex})
        .then((response) => {
          if(response.status == 201){
            this.$bvModal.hide('editPatronModal');
            this.showSuccessToast('[Success]: Patron updated successfully!');
            this.$store.dispatch('patrons/fetchPatrons', null, {root:true});
          }
        })
        .catch((error) => {
          //displays a toast if errors are still present
          this.showErrorToast('[Error]: ' + error); 
        });
      }

    },

    async deletePatron(deleteIndex){

      this.$store.dispatch('patrons/deletePatron', deleteIndex)
      .then((response) => {
        if(response.status == 200){
          this.$bvModal.hide('deletePatronModal');
          this.showSuccessToast('[Success]: Patron deleted successfully!');
          this.$store.dispatch('patrons/fetchPatrons', null, {root:true});
        }
      })
      .catch((error) => {
        //displays a toast if errors are still present
        this.showErrorToast('[Error]: ' + error); 
      });
      
    },

    // Clears all modal fields 

    clear: function(){

      this.add.first_name = '';
      this.add.middle_name = '';
      this.add.last_name = '';
      this.add.email = '';

    },

    //validate form fields

    validateForm(){

      //checks for numeric input
      
      var checkForNum = /(^([a-zA-Z ]+$))/; 

      //checks for valid email address format

      var checkValidEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; 

      //checks if fields are empty, if not then validates if inputs are correct

      if(document.getElementById("fname").value.length){
        if(!document.getElementById("fname").value.match(checkForNum)){
          this.showWarningToast('[Warning]: Numeric input is not allowed for first name field' );
        }
      }else{
        this.showWarningToast('[Warning]: You cannot leave first name field blank');
      }

      if(document.getElementById("mname").value.length){
        if(!document.getElementById("mname").value.match(checkForNum)){
          this.showWarningToast('[Warning]: Numeric input is not allowed for middle name field' );
        }
      }else{
        this.showWarningToast('[Warning]: You cannot leave middle name field blank' );
      }

      if(document.getElementById("lname").value.length){
        if(!document.getElementById("lname").value.match(checkForNum)){
          this.showWarningToast('[Warning]: Numeric input is not allowed for last name field' );
        }
      }else{
        this.showWarningToast('[Warning]: You cannot leave last name field blank' );
      }

      if(document.getElementById("email").value.length){
        if(!document.getElementById("email").value.match(checkValidEmail)){
          this.showWarningToast('[Warning]: Invalid email format' );
        }
      }else{
        this.showWarningToast('[Warning]: You cannot leave email field blank' );
      }

      return true;

    }

  },

  created(){

    setInterval(this.getNow, 100); 

  },

  mounted(){

    document.title = "Patron Management";

    // Calls fetchPatron action from Vuex Store to fetch data from database

    this.$store.dispatch('patrons/fetchPatrons', null, {root:true});

  }

}

</script>

<style>

  @import "/assets/css/style.css";

</style>