<template>
  <div id="app">
    <NavBar />
    <SideBar activePage="Settings"/>
    <div class="container-fluid px-0">

    <div class="items"></div>

    </div>

  </div>
</template>

<script>

import NavBar from '@/components/navigation/NavBar.vue';
import SideBar from '@/components/navigation/SideBar.vue';

export default {
  name: 'Settings',
  components: { NavBar, SideBar },
  
  mounted(){

    document.title = "Settings";

  }

}

</script>

<style>

  @import "../../assets/css/style.css";

</style>


