
body{

	height: 100%;
	width: 100%;
	background-color: #f1f1f1;
	overflow-y: hidden;

}

.navbar-main{

	height: 80px;
	width: 100%;

	background-color: #ffffff;
	font-family: "Segoe UI", sans-serif;
	font-weight: 600;

}

a.navbar-brand{

	padding: auto;
	margin-left: 15px;

}

a>img{

	width: 150px;

}

li.nav-item{

	margin-right: 15px; 

}

li>a{

	color: #757575;

}

li>a:hover{

	color: #a1a1a1;

}

li>a>.user-profile{

	width: 30px;

	margin-left: 3px;

}

.navbar-sub{

	height: 10px;
	width: 100%;

	background-image: linear-gradient(to right,#4573DE, #E31C63, #FD4E1C);
	box-shadow: 0px 0px 10px gray;	

}

.container-fluid{

	padding: 0px;

}

.sidebar{

	width: 300px;
	height: 1280px;
	padding-top: 20px;
	padding-left: 30px;
	margin: 0px;
	float: left;

	background-color: white;

}

.sidebar-divider{

	height: 1px;
	width: 225px;
	margin-top: 10px;
	margin-bottom: 10px;

	background-color: #c5c5c5;

}

.sidebar-icon{

	padding-right: 20px;

	font-size: 25px;
	color: #929292;

}

.sidebar-text{

	font-family: "Segoe UI", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #929292;

}

.sidebar-text:hover{

	color: #c7c7c7;
}

.nav-item.active>.nav-link>.sidebar-icon{

	font-size: 25px;
	color: #FD5327;

}

.nav-item.active>.nav-link>.sidebar-text{

	font-family: "Segoe UI", sans-serif;
	font-weight: 600;
	color: #616161;

}

.items{

	width: auto;
	height: 1280px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 0px;
	margin-left: 0px;

}

.card-graph{

	padding-top: 10px;
	padding-bottom: 0px;
	padding-left : 20px;
	padding-right: 20px;

}

.card-table{

	padding-top: 10px;
	padding-bottom: 0px;
	padding-left : 20px;
	padding-right: 20px;

}

.card-body{

	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;

}

.card-controls{

	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.card-divider{

	height: 1px;
	width: auto;
	margin-top: 10px;
	margin-bottom: 10px;

	background-color: #c5c5c5;

}

.graph-title{

	margin-bottom: 0px;

	font-family: 'Segoe UI Semibold', sans-serif;
	font-size: 22px;
	color: #616161;

}

.add-button-main{

	padding-left: 15px;
	padding-right: 15px;

	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	font-size: 13px;
	background-color: #FD4E1C;
	color: white;
	border-color: transparent;
	border-radius: 20px;

	transition: 0.3s ease-in-out;	

}

.add-button-main:hover{

	background-color: #FF9A61;

	transition: 0.3s ease-in-out

}

.add-button-main:focus{

	outline: transparent;

}

.search-label{

	margin-bottom: 0px;
	margin-left: 545px;
	margin-right: 15px;

	font-family: 'Segoe UI', sans-serif;
	font-weight: 500;
	color: #616161;

}

.rounded-textbox{

	height: auto;
	width: auto;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;

	background-color: transparent;
	border-width: 10px;
	border-radius: 20px;
	border: 1px solid #c5c5c5; 

}


.search-bar{

	height: 28px;
	width: 250px;

	font-family: 'Segoe UI', sans-serif;
	font-size: 13px;
	background-color: transparent;
	border-color: transparent;

}

.search-bar:focus{

	outline: transparent;

}

.my-table-header th{

	padding: 8px !important;

	font-family: 'Segoe UI', sans-serif;
	font-weight: 500;
	font-size: 13px;
	color: #616161;
	background-color: #f1f1f1;

}


.table-striped>tbody>tr:nth-child(odd)>td{

	background-color: white;

}

.table-striped>tbody>tr:nth-child(even)>td{

	background-color: #f1f1f1;

}

.my-table-body{

	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #929292;	

}

.button-edit{

	padding: 1px !important;

	font-size: 20px;
	color: #4573DE;

}

.button-settings{

	padding: 1px !important;

	padding: 0px;
	font-size: 20px;
	color: #4573DE;

}

.button-delete{

	padding: 1px !important;

	font-size: 20px;
	color: #E31C63;

}

.graph-icon{

	color: #959595;

}

.last-update{

	font-family: 'Segoe UI Semibold', sans-serif;
	font-size: 14px;
	color: #959595;

}

.modal-dialog{

	margin-top: 60px;
	width: 450px;
	
}


.modal-title{

	padding-left: 8px;

	font-family: 'Segoe UI', sans-serif;
	font-size: 20px;
	color: #FD4E1C;

}

.modal-body{

	padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 25px;

}

.form{

	margin-bottom: 30px;

}

.form-name{

	margin-bottom: 0px;
	margin-left: 12px;

	font-family: 'Segoe UI Semibold', sans-serif;
	font-size: 15px;
	color: #616161;

}

.rounded-textbox-modal{

	height: auto;
	width: auto;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 150px;
	margin-left: 150px;

	background-color: transparent;
	border-width: 10px;
	border-radius: 20px;
	border: 1px solid #c5c5c5; 

	position: absolute;

}

.text-bar{

	height: 28px;
	width: 255px;

	font-family: 'Segoe UI', sans-serif;
	font-size: 13px;
	background-color: transparent;
	border-color: transparent;

}

.text-bar:focus{

	outline: transparent;

}

.button-modal1{

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-left: 210px;
	margin-right: 5px;

	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	font-size: 13px;
	background-color: #FD4E1C;
	color: white;
	border-color: transparent;
	border-radius: 20px;

	transition: 0.3s ease-in-out;	

}

.button-modal2{

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-left: 10px;

	font-family: 'Segoe UI', sans-serif;
	font-weight: 400;
	font-size: 13px;
	background-color: #929292;
	color: white;
	border-color: transparent;
	border-radius: 20px;

	transition: 0.3s ease-in-out;	

}

.button-modal1:hover{

	background-color: #FF9A61;

	transition: 0.3s ease-in-out

}

.button-modal2:hover{

	background-color: #c5c5c5;

	transition: 0.3s ease-in-out

}

.button-modal1, .button-modal2:focus{

	outline: transparent;

}
