
	html, body{

		width: 100%;
		height: 100%;

	}

	body {


	}

	.navbar{

		font-family: 'Montserrat', sans-serif;
		font-weight: 100;
		font-size: 15px;
		color: white;
		background-color: black;
		opacity: 0.9;
		
	}

	.sticky{

		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
		
	}

	a.navbar-brand{

		padding: auto;
		margin-left: 25px;

	}

	a>img{

		width: 40px;

	}

	li.nav-item{

		margin: 5px; 

	}

	li.nav-item.last{

		margin-right: 25px; 

	}

	li.nav-item.active>a {

		border-bottom: 2px solid white;
		border-radius: 2px;
		
	}

	li.nav-item:onclick{

		transition: 0.5s

	}

	#home{

		height: 650px;
		width: auto;
		padding: 0px;
		background-image: url(../img/pictures/spread1.jpg);
		background-repeat: no-repeat;
		background-size: cover, 300px; 
		overflow: hidden;

	}

	#home>.gradient-bg{

		height: 650px;
		width: auto;
		background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.8));

	}

	.home-line1{

		font-family: 'Segoe UI', sans-serif;
		font-weight: 600;
		font-size: 50px;
		text-align: right;

		margin-right: 40px;
		margin-top: 150px;
		margin-bottom: 0px;
		color: white;
		text-shadow: 2px 2px 10px #000000;

	}

	.home-line2{

		font-family: 'Segoe UI', sans-serif;
		font-weight: 600;
		font-size: 30px;
		text-align: right;

		margin-right: 40px;
		margin-bottom: 0px;
		color: white;
		text-shadow: 2px 2px 10px #000000;

	}

	.home-line3{

		font-family: 'Segoe UI', sans-serif;
		font-weight: 400;
		font-size: 15px;
		text-align: right;

		margin-right: 40px;
		margin-top: 20px;
		margin-bottom: 0px;
		padding-left: 900px;
		color: #a1a1a1;
		text-shadow: 1px 1px 10px #0f0f0f;

	}

	.home-button{

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 18px;
		letter-spacing: 5px;

		float:right;
		margin-right: 40px;
		margin-top: 100px;
		padding: 10px 25px 10px 30px;
		background-color: transparent;
		border: 2px solid white;
		border-radius: 30px;
		color: white;

		transition: 0.5s

	}

	.home-button:hover{

		background-color: white;
		color: black;

		box-shadow: 0px 0px 10px white;	
  		transition: 0.5s

	}


	#about-gray{

		height: 500px;
		width: auto;
		padding: 0px;
		background-color: #c1c1c1;
		overflow: hidden;

	}


	#about-white{

		height: 270px;
		width: auto;
		padding: 0px;
		background-color: #ffffff;
		overflow: hidden;

	}

	.container-fluid.about-card-container{

		padding: 40px 50px 50px 50px;

		position: absolute;
		top: 830px;

	}

	.line{

		height: 5px;
		width: 130px;
		background-color: black;
		border-radius: 10px;

		margin-left: 110px;
		margin-bottom: 20px;

	}

	.line.about-title1{

		height: 5px;
		width: 200px;
		background-color: black;
		border-radius: 10px;

		margin-top: 75px;
		margin-left: 50px;

	}

	.line.about-title2{

		height: 5px;
		width: 150px;
		background-color: black;
		border-radius: 10px;

		margin-top: 75px;
		margin-left: 0px;
		margin-left: 0px;

	}


	.about-title{

		font-family: 'League Spartan', sans-serif;
		font-size: 50px;
		text-align: center;

		margin-top: 45px;
		margin-bottom: 0px;
		color:black;

	}

	.about-subtitle{

		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		letter-spacing: 4px;
		text-align: center;

		padding: 0px 50px 0px 50px;
		color:gray;

	}

	@keyframes moveup{

		from {opacity: 0; bottom: 50px;}
		to {opacity: 1; bottom: 0px;}

	}

	.card-body{

		animation: moveup 1s ease-in;
		animation-delay: 0.5s;

		text-align: center;
		background-color: rgba(255,255,255,0.5);
		border: 1px solid #a2a2a2;

		position: relative;
		z-index: 1;

	}

	.rounded-circle.about-profile{

		height: 160px;
		width: 160px;

		position: relative;
		bottom: 50px;
		z-index: 1;
		box-shadow: 0px 10px 10px gray;

	}

	.card-body>.container-fluid.profile-container{

		position: relative;
		justify-content: center;

	}

	.card-body>.about-name{

		font-family: 'Segoe UI', sans-serif;
		font-weight: 500;
		font-size: 35px;

		top: 2;
		margin-bottom: 0px;

	}

	.card-body>.about-description{

		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		letter-spacing: 3px;
		color:gray;

	}

	.card-body>.about-details{

		font-family: 'Segoe UI', sans-serif;
		font-weight: 400;
		font-size: 19px;
		color:black;

	}

	.card-body>.about-button{

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 12px;
		letter-spacing: 4px;

		padding: 10px 25px 10px 30px;
		margin-top: 40px;
		background-color: rgb(122,122,162);
		border: 2px solid white;
		border-radius: 30px;
		color: white;

		transition: 0.5s

	}

	.about-button:hover{

		background-color: rgb(122,122,202);;
		box-shadow: 0px 0px 10px rgb(122,122,202);	
		border-color: transparent;

  		transition: 0.5s

	}

	#services{

		height: 840px;
		width: auto;

		padding: 0px;
		padding-top: 40px;
		background-image: url(../img/pictures/spread2.jpg);
		background-repeat: no-repeat;
		background-size: cover, 300px; 
		overflow: hidden;

	}


	.line.services-title{

		height: 5px;
		width: 790px;
		background-color: white;
		border-radius: 10px;

		margin-top: 75px;
		margin-left: 50px;

	}

	.services-title{

		font-family: 'League Spartan', sans-serif;
		font-size: 50px;
		text-align: left;

		margin-top: 50px;
		margin-bottom: 15px;
		margin-left: 40px;
		color:white;

	}

	.services-subtitle{

		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		letter-spacing: 4px;
		text-align: left;

		padding: 0px 50px 0px 50px;
		margin-bottom: 0px;
		color:white;

	}

	@keyframes fadein{

		from {opacity: 0;}
		to {opacity: 1;}

	}

	.services-item{

		animation: fadein 1s;
		animation-delay: 0.5s;

		height: 65px;
		width: 550px;
		background-color: rgba(255,255,255,0.3);
		border-radius: 50px;

		margin-top: 80px;
		margin-left: 50px;

	}

	.container-fluid.item-image-container{

		animation: fadein 1s;
		animation-delay: 0.5s;

		margin-left: 15px;
		padding-right: 0px;
		position: relative;
		bottom: 30px;

	}

	.rounded-circle.services-item-image{

		animation: fadein 1s;
		animation-delay: 0.5s;

		height: 120px;
		width: 120px;

	}

	.services-item-description{

		font-family: 'Segoe UI', sans-serif;
		font-weight: 500;
		font-size: 17px;

		margin-top: 8px;
		margin-bottom: 0px;
		color: white;

	}

	.services-item-subdescription{

		font-family: 'Segoe UI', sans-serif;
		font-weight: 200;
		font-size: 15px;

		color: white;

	}

	.services-button{

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 15px;
		letter-spacing: 5px;

		float:right;
		margin-top: 30px;
		margin-right: 40px;
		padding: 10px 25px 10px 30px;
		background-color: transparent;
		border: 2px solid white;
		border-radius: 30px;
		color: white;

	}

	.services-button:hover{

		background-color: white;
		color: black;

		box-shadow: 0px 0px 10px white;	
  		transition: 0.5s


	}

	#portfolio{

		animation: fadein 3s;
		animation-delay: 0.5s;

		height: 850px;
		width: auto;

		padding: 0px;
		padding-top: 40px;
		background-color: white;
		overflow: hidden;

	}

	.portfolio-title{

		font-family: 'League Spartan', sans-serif;
		font-size: 50px;
		text-align: center;

		margin-top: 15px;
		margin-bottom: 0px;
		color:black;

	}

	.line.portfolio-title{

		height: 5px;
		width: 270px;
		background-color: black;
		border-radius: 10px;

		margin-top: 2px;
		margin-bottom: 25px;
		margin-left: 540px;

	}

	.portfolio-subtitle{

		font-family: 'Montserrat', sans-serif;
		font-size: 15px;
		letter-spacing: 4px;
		text-align: center;

		padding: 0px 50px 0px 50px;
		color:black;

	}

	.portfolio-image1-container{

		height: 390px;
		width: 270px;
		background-color: red;

		margin: 50px 0 0 150px;
		border-radius: 30px;

	}

	.portfolio-image2-container{

		height: 210px;
		width: 340px;
		background-color: red;

		margin: 50px 0 0 0;
		border-radius: 20px;

	}

	.portfolio-image3-container{

		height: 210px;
		width: 140px;
		background-color: red;

		margin: 50px 0 0 25px;
		border-radius: 20px;

	}

	.portfolio-image4-container{

		height: 300px;
		width: 210px;
		background-color: red;

		margin: 25px 0 0 0;
		border-radius: 20px;

	}

	.portfolio-image5-container{

		height: 300px;
		width: 450px;
		background-color: red;

		margin: 25px 0 0 25px;
		border-radius: 20px;

	}

	.image1{

		width: 100%;
		border-radius: 30px;

	}

	.image2{

		width: 100%;
		height: 100%;
		border-radius: 20px;

	}

	.image3{

		width: 100%;
		border-radius: 20px;

	}

	.image4{

		width: 100%;
		height: 100%;
		border-radius: 20px;

	}

	.image5{

		width: 100%;
		height: 100%;
		border-radius: 20px;

	}

	#contact-us{

		animation: fadein 3s;
		animation-delay: 0.5s

		height: 550px;
		width: auto;

		padding: 0px;
		padding-top: 40px;
		background-color: white;
		overflow: hidden;

	}

	.contact-us-links{

		height: 100%;
		width: auto;
		padding-top: 50px;
		padding-left: 55px;
		padding-right: 55px;
		background-image: linear-gradient(to top, gray, white);

	}

	.contact-us-message{

		height: 100%;
		width: auto;
		padding-top: 50px;
		padding-left: 55px;
		padding-right: 55px;
		background-color: #e2e2e2;

	}

	.link-title{

		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		letter-spacing: 3px;

		margin-bottom: 25px;
		color: black;
		border-bottom: 3px solid black;

	}

	.link-description{

		font-family: 'Segoe UI', sans-serif;
		font-size: 20px;

		padding-left: 20px;
		margin-bottom: 50px;
		color: black;

	}

	.message-title{

		font-family: 'League Spartan', sans-serif;
		font-size: 50px;
		
		margin-bottom: 20px;

	}

	.message-container{

		border: 1px solid gray; 
		border-radius: 50px;
		background-color: white;

		width: 100%;
		height: 50px;
		padding: 10px 15px 5px 15px;
		margin-bottom: 30px;

	}

	.message-container-tall{

		border: 1px solid gray; 
		border-radius: 20px;
		background-color: white;

		width: 100%;
		height: 100px;
		padding: 10px 15px 5px 15px;
		margin-bottom: 30px;

	}

	.input-details{

		font-family: 'Segoe UI', sans-serif;
		font-weight: 500;
		font-size: 15px;

		width: 100%;
		border-color: transparent;

	}

	.message-button{

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		font-size: 12px;
		letter-spacing: 4px;

		float: right;
		padding: 10px 25px 10px 30px;
		margin-top: 10px;
		margin-bottom: 37px;
		background-color: gray;
		border: 2px solid white;
		border-radius: 30px;
		color: white;

	}

	.message-button:hover{

		background-color: black;
		color: white;
		border-color: transparent;

		box-shadow: 0px 0px 10px black;	
  		transition: 0.5s


	}

	#footer{

		font-family: 'Segoe UI', sans-serif;
		font-size: 15px;

		padding-top: 15px;
		background-color: #2f2f2f;
		color: white;
		overflow: hidden;

	}

	.back-to-top {

  		position: fixed;
  		display: none;
  		background: rgba(0, 0, 0, 0.2);
  		color: #fff;
  		padding: 6px 12px 9px 12px;
  		font-size: 16px;
  		border-radius: 2px;
  		right: 15px;
  		bottom: 15px;
  		transition: background 0.5s;
	}

	@media (max-width: 768px) {

  	.back-to-top {
    	bottom: 15px;
  	}

	}

	.back-to-top:focus {
  		background: rgba(0, 0, 0, 0.2);
  		color: #fff;
  		outline: none;
	}

	.back-to-top:hover {
  		background: rgb(122,122,162);
 		color: #fff;
	}


