<template>

  <div class="NavBar" id="app">

    <nav class="navbar navbar-expand-sm navbar-main">

      <a class="navbar-brand">
        <img src="@/assets/images/logo.png" alt="logo">
      </a>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown">
          Logout <img class="user-profile" src="@/assets/images/user-account.png">
          <b-dropdown class="my-dropdown" variant="transparent" boundary="viewport">
            <b-dropdown-item>Account Settings</b-dropdown-item>
            <b-dropdown-divider></b-dropdown-divider>
            <b-dropdown-item>Logout</b-dropdown-item>
          </b-dropdown>
  
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
            <a class="dropdown-item" href="#">Account Settings</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div class="navbar-sub"></div>
    
  </div>

</template>

<style>
  @import "/assets/css/style.css";
</style>
