<template>

  <div class="SideBar" id="app">

    <div class="sidebar">

      <ul class="navbar-nav sidebar-content">

          <router-link class="link" to="/">
            <li class="nav-item" :class="activePage == 'Dashboard' ? 'active': ''">
              <a class="nav-link" href="dashboard.html">
              <i class="fa fa-dashboard sidebar-icon"></i> <span class="sidebar-text">Dashboard</span>
              </a>
            </li>
          </router-link>

          <div class="nav-item sidebar-divider"></div>

          <router-link to="/Patron_Management"> 
            <li class="nav-item" :class="activePage == 'Patron_Management' ? 'active': ''">
              <a class="nav-link" href="patron_management.html">
              <i class="fa fa-user-circle sidebar-icon"></i> <span class="sidebar-text">Patron Management</span>
              </a>
            </li>
          </router-link>

          <div class="nav-item sidebar-divider"></div>

          <router-link to="/Book_Management"> 
            <li class="nav-item" :class="activePage == 'Book_Management' ? 'active': ''">
              <a class="nav-link" href="book_management.html">    
              <i class="fa fa-book sidebar-icon"></i> <span class="sidebar-text">Book Management</span>
              </a>
            </li>
          </router-link>

          <div class="nav-item sidebar-divider"></div>

          <router-link to="/Settings"> 
            <li class="nav-item" :class="activePage == 'Settings' ? 'active': ''">
              <a class="nav-link" href="settings.html">
              <i class="fa fa-sliders sidebar-icon"></i> <span class="sidebar-text">Settings</span>
              </a>
            </li>
          </router-link>

        </ul>

      </div>

    </div>

</template>


<script>

  export default{

    props: {

      activePage: String,

    }

  }

</script>

<style>
  @import "/assets/css/style.css";
  @import "../../assets/libraries/font-awesome/css/font-awesome.min.css";
</style>
